.tk-comments-container {
    font-size: 15px;
}

.pagination__title {
    margin-bottom: 30px;
}

.pagination__title-h {

}

.pagination__title hr {

}

ul.post-tags-meta a {
    color: var(--secondary);
}

/*评论头部间距*/
.post-footer {
    margin-top: 5px;
    margin-bottom: 10px;
}

/* 设置 Twikoo 评论区最小高度 */
.twikoo .el-textarea__inner {
    min-height: 96px !important;
}
